In [1]:
import pandas as pd

renewable_sources = ["solar", "wind", "hydropower", "geothermal", "biomass"]

data = {
    "project": ["solar Fara A", "wind Turbine X", "hydropower Y", "solar Roof Z", "geothermal"],
    "Technology": ["solar", "wind", "hydropower", "solar", "geothermal"],
    "capacity(MW)": [150, 300, 200, 50, 100],
    "cost (million $)": [200, 400, 350, 100, 250],
    "location": ["California", "Texas", "Washington", "London", "Dubai"],
    "competition year": [2025, 2025, 2025, 2025, 2025]
}

df = pd.DataFrame(data)

print(df)

          project  Technology  capacity(MW)  cost (million $)    location  \
0    solar Fara A       solar           150               200  California
1  wind Turbine X        wind           300               400       Texas
2    hydropower Y  hydropower           200               350  Washington
3    solar Roof Z       solar            50               100      London
4      geothermal  geothermal           100               250       Dubai

   competition year
0              2025
1              2025
2              2025
3              2025
4              2025

In [2]:
projects_df = pd.DataFrame(data)
filtered_projects = projects_df[projects_df["capacity(MW)"] > 100]
filtered_projects

,project,Technology,capacity(MW),cost (million $),location,competition year
0,solar Fara A,solar,150,200,California,2025
1,wind Turbine X,wind,300,400,Texas,2025
2,hydropower Y,hydropower,200,350,Washington,2025

In [5]:
import pandas as pd

renewable_sources = ["solar", "wind", "hydropower", "geothermal", "biomass"]

data = {
    "project": ["solar Fara A", "wind Turbine X", "hydropower Y", "solar Roof Z", "geothermal"],
    "Technology": ["solar", "wind", "hydropower", "solar", "geothermal"],
    "capacity(MW)": [150, 300, 200, 50, 100],
    "cost (million $)": [200, 400, 350, 100, 250],
    "location": ["California", "Texas", "Washington", "London", "Dubai"],
    "competition year": [2025, 2025, 2025, 2025, 2025]
}

projects_df = pd.DataFrame(data)

projects_df['cost per MW (million $)'] = projects_df['cost (million $)'] / projects_df['capacity(MW)']

print(projects_df)

          project  Technology  capacity(MW)  cost (million $)    location  \
0    solar Fara A       solar           150               200  California
1  wind Turbine X        wind           300               400       Texas
2    hydropower Y  hydropower           200               350  Washington
3    solar Roof Z       solar            50               100      London
4      geothermal  geothermal           100               250       Dubai

   competition year  cost per MW (million $)
0              2025                 1.333333
1              2025                 1.333333
2              2025                 1.750000
3              2025                 2.000000
4              2025                 2.500000

In [6]:
total_capacity = projects_df['capacity(MW)'].sum()
total_cost = projects_df['cost (million $)'].sum()

print("Total Capacity (MW):", total_capacity)
print("Total Cost (million $):", total_cost)

Total Capacity (MW): 800
Total Cost (million $): 1300

In [7]:
total_capacity_by_technology = projects_df.groupby('Technology')['capacity(MW)'].sum()

print(total_capacity_by_technology)

Technology
geothermal    100
hydropower    200
solar         200
wind          300
Name: capacity(MW), dtype: int64